.agreement-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #13437b;
}

.agreement-content {
  background: white;
  border-radius: 12px;
  padding: 48px;
  max-width: 600px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}


.agreement-content h1 {
  font-size: 32px;
  margin-bottom: 24px;
  color: #1a202c;
  text-align: center;
}

.agreement-text {
  margin-bottom: 32px;
}
.agreement-text-2 {
  height:100vh;
}

.agreement-text h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #2d3748;
}

.agreement-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #4a5568;
  margin-bottom: 16px;
}
.agreement-text-1 p {
  font-size: 13px;
  line-height: 1.35;
  color: #4a5568;
  margin-bottom: 16px;
}

.agree-button {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: #13437b;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.agree-button:hover {
  background: #2867a9;
}

.password-input-container {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the input and label */
  width: 100%; /* Take full width of parent */
}

.password-input-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.password-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%; /* Adjust width as needed */
  max-width: 300px; /* Max width for a nicer look */
  text-align: center;
}

.password-error {
  color: red;
  margin-top: 5px;
  font-size: 0.9em;
}
